a {
  text-decoration: none;
}

h1 {
  background-color: aqua;
  text-align: center;
}

img { 
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
}

.container {
  display:flex;
}

.content {
  background-color: beige;
  width: 100%;
}

.content-links {
  list-style: none;
}

.sidecontent {
  list-style: circle;
  padding-left: 20px;
}

.sidebar {
  background-color: red;
  height: 500px;
  width: 125px;

}